@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #ffffff;
    --black: #000000;
    --black-opacity: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
    --green-gradient: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    --green: #4CC986;
    --green2: #5FE19B;
    --green3: #36B972;

    --gray: #a5a5a5;
    --gray2: #303030;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: 'Exo'
}

/* BACKGROUND */
.home{
    height: 100%;
    width: 100%;
    background-color: var(--black);
}

/* HEADER */
.home-header{
    height: 94px;
    width: 100%;
    background: var(--green-gradient);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* GameFinder HEADER LOGO */
.home-header_logo{
    width: 267.01px;
    height: 33.05px;
    margin-top: 28.97px;
    margin-left: 39.95px;
}

/* Search */
.search-container{
    display: flex;
    justify-content: center;
}

.search{
    width: 362px;
    height: 47px;
    margin-top: 23px;
    padding-left: 40px;
}

/* Profile options */
.profile-options{
    display: flex;
    justify-content: end;
    align-items: center;
}

.profile-options a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-right: 16px;
}

.avatar{
    height: 48px;
    width: 48px;
    margin-right: 40px;
}

/* Title container */
.title{
    height: 65px;
    width: 400px;
    margin-top: 19px;
    margin-left: 40px;
    font-weight: 800;
    font-size: 32px;
    line-height: 64px;
}

.subtitle{
    height: 24px;
    width: 347px;
    margin-top: 2px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;

}

/* Games */
.games{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Sidebar */
.sidebar{
    margin-top: 31px;
    margin-left: 40px;
}

.sidebar a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.sidebar ul{
    list-style: none;
}

/* Game options */
.games-options li{
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

/* Time options */
.time-options{
    margin-top: 37px;
}

.time-options li{
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.time-options a{
    margin-left: 10.79px;
}

/* Trend options */
.trend-options{
    margin-top: 55px;
}

.popular{
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 18px;
}

.trend-options li{
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.trend-options a{
    margin-left: 10.79px;
}

/* Games */
.game{
    height: 314px;
    width: 363px;
    background: var(--gray2);
    border-radius: 12px;
    margin-top: 31px;
    margin-bottom: 24px;
    margin-left: 24px;
    display: inline-block;
}

.game img{
    height: 190.51px;
    width: 363px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.top-desc{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.top-desc h1{
    margin-left: 16px;
    margin-top: 4.49px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 293px;
    height: 33px;
}

.top-desc p{
    display: flex;
    justify-content: end;
    color: var(--green3);
    margin-top: 11.49px;
    margin-right: 16px;
    width: 40px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

