@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Exo'
}

/* BACKGROUND */
.home{
    height: 100%;
    width: 100%;
    background-image: url(../img/HomeBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* GameFinder HEADER LOGO */
.home-header_logo{
    margin-top: 35px;
    margin-left: 25px;
    width: 293.54px;
    height: 37.46px;
}

/* LOG IN SECTION */
.home-login{
    width: 100%;
    overflow: hidden;
    align-items: center;
}

/* LOG IN BOX */
.home-login_box{
    position: relative;
    width: 350px;
    height: 550px;
    border-radius: 12px;
    float: right;
    background: black;
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);
    margin-right: 200px;
    margin-top: 50px;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
}

/* LOG IN HEADER */
.home-login_box_header{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

/* Log in title */
.home-login_box_header_title{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}

/* Log in subtitle */
.home-login_box_header_subtitle{
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

/* LOG IN MAIN */
.home-login_box_main{
    text-align: center;
}

/* Email / Password input */
.data{
    width: 280px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    outline: none;
    padding-left: 15px;
}

/* Log in button */
.submit{
    width: 280px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #4CC986;
    color: white;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    cursor: pointer
}


/* Password options */
.password-option{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

/* Remember me */
.rememberMe{
    float: left;
    height: 19px;
    border-radius: 4px;
    cursor: pointer;
}

.password-option label{
    float: left;
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

/* Forgot password */
.password-option_forgot{
    float: right;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5FE19B;
    text-decoration: none;
}

/* Register container */
.register-container{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.register-container p{
    float: left;
    padding-left: 20px;
}

.register{
    align-items: right;
    color: #5FE19B;
    text-decoration: none;
    margin-left: -5px;
}

/* Or container */
.or-container{
    margin-top: 10px;
    margin-bottom: 15px;
}

.or{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: gray;
}

/* SOCIAL MEDIA */
.login-social{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.login-social a{
    text-decoration: none;
    color: white;
}

.facebook{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border: solid 3px white;
    border-radius: 5px;
}

.twitter{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border: solid 3px white;
    border-radius: 5px;
}

.google{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border: solid 3px white;
    border-radius: 5px;
}

.social-logo{
    float: left;
    height: 18px;
    width: 18px;
    margin-left: 30px;
    margin-right: -15px;
    margin-top: 2px;
}

