/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* VAR */
:root{
    --white: #ffffff;
    --black-opacity: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
    --green: #4CC986;
    --green2: #5FE19B;
    --gray: #a5a5a5;
    --gray2: #515151;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: 'Exo'
}

/* BACKGROUND */
.home{
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

/* CAROUSEL */
.carousel{
    width: 1440px;
    height: 1024px;
}

/* Background images */
.carousel-img{
    width: 1440px;
    height: 1024px;
}

.carousel-track_container{
    width: 1440px;
    height: 1024px;
}

.carousel-track{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    transition: transform 250ms ease-in;
    position: fixed;
}

.carousel-slide{
    position: absolute;
}

/* Move to left button */
.carousel-button_left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    left: 17.33px;
}

.carousel-button_left img{
    width: 43px;
    height: 43px;
}

/* Move to right button */
.carousel-button_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    right: 17.33px;
}

.carousel-button_right img{
    width: 43px;
    height: 43px;
}

/* Nav dots */
.carousel-nav{
    transform: translateY(-60px);
    left: 46%;
    position: fixed;
    background-color: var(--gray2);
    border-radius: 18px;
    width: 120px;
    height: 27px;
    display: flex;
    align-items: center;
}

.carousel-indicator{
    border: 0;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.25);
    margin: auto;
    cursor: pointer;
}

.carousel-indicator.current-slide{
    background: var(--white);
}

.hidden{
    display: none;
}

/* HEADER */
.home-header{
    position: absolute;
    z-index: 1;
}

/* GameFinder logo */
.home-header_logo{
    margin-top: 44.27px;
    margin-left: 53.23px;
    width: 293.54px;
    height: 37.46px;
}

/* LOG IN SECTION */
.home-login{
    position: absolute;
    z-index: 1;
    width: 1238px;
    transform: translateX(101px);
}

/* Log in box */
.home-login_box{
    position: relative;
    width: 462px;
    height: 702px;
    border-radius: 12px;
    float: right;
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);
    margin-top: 178px;
    background: var(--black-opacity);
}

/* Log in box header */
.home-login_box_header{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Log in box title */
.home-login_box_header_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    height: 27px;
    text-align: center;
}

/* Log in box subtitle */
.home-login_box_header_subtitle{
    width: 362px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

/* Log in main */
.home-login_box_main{
    text-align: center;
}

/* Email / Password input */
.login-data{
    width: 362px;
    height: 47px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    outline: none;
    padding-left: 15px;
}

/* Submit button */
.submit{
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    width: 362px;
    height: 47px;
    margin-top: 24px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 1.5px var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type="checkbox"]::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f00c";
    font-size: 14px;
    color: var(--white);
    display: none;
}

input[type="checkbox"]:hover{
    background-color: var(--gray);
}

input[type="checkbox"]:checked{
    background-color: var(--green);
}

input[type="checkbox"]:checked::after{
    display: block;
}


/* Password options */
.password-option{
    margin-right: 50px;
    margin-left: 50px;
}

/* Remember me */
.rememberMe{
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.password-option label{
    float: left;
    margin-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

/* Forgot password */
.password-option_forgot{
    float: right;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--green2);
    text-decoration: none;
}

/* Register container */
.register-container{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 32px;
    margin-left: 120px;
    margin-right: 120px;
}

.register-container p{
    float: left;
    padding-left: 20px;
}

.register{
    align-items: right;
    color: var(--green2);
    text-decoration: none;
    margin-left: -5px;
}

/* Or container */
.or-container{
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.or-container hr{
    height: 2.07px;
    background: var(--gray);
    width: 144.44px;
}

.line1{
    float: left;
    margin-right: 30px;
}

.line2{
    float: right;
    margin-left: 30px;
}

.or{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--gray);
}

/* SOCIAL MEDIA */
.login-social{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.login-social a{
    text-decoration: none;
    color: var(--white);
}

.social-container{
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    border: solid 3px var(--white);
    border-radius: 5px;
}

.social-logo{
    float: left;
    height: 18px;
    width: 18px;
    margin-left: 80px;
    margin-right: -80px;
    margin-top: 2px;
}

