*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.home{
    height: 100%;
    width: 100%;
    background-image: url(../img/HomeBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header_logo{
    margin-top: 35px;
    margin-left: 25px;
    width: 293.54px;
    height: 37.46px;
}

.home-login{
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.home-login_box{
    width: 350px;
    height: 500px;
    border-radius: 12px;
    float: right;
    background: black;
    background-blend-mode: overlay;
    backdrop-filter: blur(10px);
    margin-right: 200px;
}

.home-login_box_header{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.home-login_box_header_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.home-login_box_header_subtitle{
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.home-login_box_main{
    text-align: center;
}