@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  --a-color: #515151;
  --auth-card: #f0f0f0;
  --background-card: #ffffff;
  --background-home: #e5e5e5;
  --background-skeleton: #e5e5e5;
  --black: #000000;
  --bottom-background-modal: #f0f0f0;
  --box-shadow: #6a6a6a40;
  --button-bkg: #ffffff;
  --button: #ffffff;
  --card-title-date-genre: #515151;
  --carousel-buttons: #ffffff;
  --checkbox-border: #8f8f8f;
  --container-bkg: #e1e1e4;
  --counter: #36b972;
  --dark-grey: #3d3d3d;
  --dm-off: #939393;
  --dot-arrow-off: #bdbdbf;
  --dot-arrow: #515151;
  --dot-pulse: #36b972;
  --error: #ff0000;
  --footer-gradient: #ffffff;
  --footer: rgba(255, 255, 255, 0);
  --green: #4cc986;
  --grey: #515151;
  --header-color: #ffffff4d;
  --home-button: #36b972;
  --last-searches: #36b972;
  --li-color: #3d3d3d;
  --light-grey: #e1e1e4;
  --line-registration: #515151;
  --login-button: #4cc986;
  --logo-color: #3d3d3d;
  --not-found: #ff0000;
  --primary-color: #36b972;
  --register-forgot: #5fe19b;
  --release-genre: #939393;
  --scroll: #f0f0f0;
  --secondary-green: #36b972;
  --slider: #e1e1e4;
  --text-color: #515151;
  --text-login: #ffffff;
  --title-home: #515151;
  --footer: rgba(255, 255, 255, 0);
  --footer-gradient: #ffffff;
  --background-home: #e5e5e5;
  --title-skeleton: #ffffff;
  --background-skeleton: #e5e5e5;
  --box-shadow: #6a6a6a40;
  --card-title-date-genre: #515151;
  --counter: #36b972;
  --release-genre: #939393;
  --black: #000000;
  --background-card: #ffffff;
  --a-color: #515151;
  --home-button: #36b972;
  --hambur-initial: #ffffff;
  --hambur-line: #e4e4e4;
  --title-modal: #939393;
  --title-skeleton: #ffffff;
  --top-background-modal: rgba(255, 255, 255, 0);
  --white: #ffffff;
  --hambur-x: #00000074;
  --hr: #e1e1e4;
}
